body {
  background: #ffffff;
  font-family: 'Lato reg', sans-serif;
  color: #ffffff;
  margin: 0 auto;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
@font-face {
  font-family: 'Lato bold';
  src: url('../../fonts/Lato-Bold.eot');
  src: url('../../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Lato-Bold.woff2') format('woff2'), url('../../fonts/Lato-Bold.woff') format('woff'), url('../../fonts/Lato-Bold.ttf') format('truetype'), url('../../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato reg';
  src: url('../../fonts/Lato-Regular.eot');
  src: url('../../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/Lato-Regular.woff2') format('woff2'), url('../../fonts/Lato-Regular.woff') format('woff'), url('../../fonts/Lato-Regular.ttf') format('truetype'), url('../../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 660px) {
  .container {
    width: 660px;
  }
}
@media (max-width: 350px) {
  .container {
    width: 320px;
  }
}
@media (max-width: 660px) {
  .container {
    width: 660px;
  }
}
@media (max-width: 350px) {
  .container {
    width: 320px;
  }
}
.header-box {
  min-height: 600px;
  background: url(../../img/main-image.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  padding-bottom: 242px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  border: 2px solid red;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 250px;
}
.menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}
.menu-nav .menu-nav__one {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.menu-nav__one-link {
  margin-right: 30px;
  font-size: 14px;
  color: #ffffff;
}
.menu-nav__toggle {
  display: block;
  width: 14px;
  height: 10px;
  position: relative;
}
.menu-nav__toggle span,
.menu-nav__toggle span::before,
.menu-nav__toggle span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -7px;
  width: 14px;
  height: 2px;
  background-color: #ffffff;
}
.menu-nav__toggle span::before,
.menu-nav__toggle span::after {
  content: "";
}
.menu-nav__toggle span::before {
  transform: translateY(-4px);
}
.menu-nav__toggle span::after {
  transform: translateY(4px);
}
.menu-nav .menu-nav__two {
  display: none;
}
.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-main__text {
  font-size: 36px;
  line-height: 36px;
  font-style: italic;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  opacity: 0.5;
  margin-bottom: 17px;
}
.header-main__caption {
  font-size: 100px;
  font-family: 'Lato_bold' sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}
.header-main__btn {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Lato bold', sans-serif;
  border: 3px solid #ffffff;
  border-radius: 3px;
  padding-top: 22px;
  padding-bottom: 27px;
  padding-left: 72px;
  padding-right: 77px;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.header-main__minitext {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Lato reg', sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 660px) {
  .container {
    width: 660px;
  }
}
@media (max-width: 350px) {
  .container {
    width: 320px;
  }
}
@media (max-width: 660px) {
  .container {
    width: 660px;
  }
}
@media (max-width: 350px) {
  .container {
    width: 320px;
  }
}
.main-advantages {
  background-color: #ffffff;
}
.main-advantages-box {
  display: flex;
  justify-content: space-between;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
}
.cards-pictures {
  width: 107px;
  height: 107px;
  margin: 0 auto;
}
.cards-caption {
  color: #000000;
  font-family: 'Lato bold', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 88px;
  padding-top: 10px;
  border-bottom: 1px solid #f57365;
}
.cards-text {
  color: #aaaaaa;
  font-family: 'Lato reg', sans-serif;
  font-size: 16px;
  text-align: center;
}
