.container() {
    max-width: 1200px;
    margin: 0 auto;
  
    @media @tablet-widths {
      max-width: 880px;
    }
  
    @media @mobile-widths {
      width: 360px;
    }
  }

  .reg() {
      font-family: 'Lato reg', sans-serif;
  }

  .bold() {
      font-family: 'Lato bold', sans-serif;
  }