.header-main {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.header-main__text {
    font-size: 36px;
    line-height: 36px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.5;
    margin-bottom: 17px;
}

.header-main__caption {
    font-size: 100px;
    .bold();
    font-weight: bold;
    margin: 0;
    margin-bottom: 40px;
}

.header-main__btn {
    color: #ffffff;
    text-transform: uppercase;
    .bold();
    border: 3px solid #ffffff;
    border-radius: 3px;
    padding-top: 22px;
    padding-bottom: 27px;
    padding-left: 72px;
    padding-right: 77px; 
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.header-main__minitext {
    font-size: 14px;
    text-transform: uppercase;
    .reg();
}

.header{
    margin-bottom: 100px;
}

@media @tablet-widths{
    .header-main__text {
        font-size: 26px;
        
    }
    
    .header-main__caption {
        font-size: 80px;
    }
}

@media @mobile-widths{
    .header-main__text {
        font-size: 20px;
        
    }
    
    .header-main__caption {
        font-size: 70px;
    }

    .header-main__minitext {
        font-size: 8px;
    }
}