.container {
    .container();
}

.main-advantages {
    background-color: #ffffff;
}

.main-advantages-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
}

.cards-pictures {
    width: 107px;
    height: 107px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cards-caption {
    color: #000000;
    .bold();
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 88px;
    padding-top: 10px;
    border-bottom: 1px solid #f57365;
}

.cards-text {
    color: #aaaaaa;
    .reg();
    font-size: 16px;
    text-align: center;
}


@media @tablet-widths{
    .main-advantages-box {
        flex-direction: column;
        justify-content: center;
        
    }

    .cards{
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media @mobile-widths{
    .main-advantages-box {
        flex-direction: column;
        justify-content: center;
        
    }

    .cards{
        width: 300px;
    }
}