.container {
    .container();
}

.main-advantages {
    background-color: #ffffff;
}

.main-advantages-box {
    display: flex;
    justify-content: space-between;

}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
}

.cards-pictures {
    width: 107px;
    height: 107px;
    margin: 0 auto;
}

.cards-caption {
    color: #000000;
    .bold();
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 88px;
    padding-top: 10px;
    border-bottom: 1px solid #f57365;
}

.cards-text {
    color: #aaaaaa;
    .reg();
    font-size: 16px;
    text-align: center;
}
